/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* END OF CSS RESET */

/* Define default values */
:root{
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Applying default variables to whole page */
body{
    font-family: var(--system-ui);
}

  .container{
    background-color:blue;
    display: flex;
    justify-content: center;
  }

  /*
  Styling image and logo section
  */

  .item-1{
    background-image: url('../images/cyberpunk.jpg'); /* Path to image file */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Make the background stay fixed when scrolling */
    width: 30vw;
    height: 100vh; 
  }

    /* Image and logo banner */

  #banner{
    background-color: rgba(119, 136, 153, 0.6);
    margin-top: 20vh;
    height: 15vh;
    padding: 5px;
    font-size: 1rem;
    display: flex; /* Allows me to adjust the positioning of items within */
    flex-direction: column; /* Stacks the content */
    align-items: center; /* Horizontal centering */
    text-align: center;
    justify-content: center; /* Vertical centering */
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: clamp(0.5rem, 1.6vw, 2.5rem); /* Restricts the size of text to fit */
  }

  #banner img{
    width: 9rem;
  }

  /*
  Styling form section
  */

  .item-2{
    background-color: orange;
    border: 5px solid green;
    width: 70vw;
    height: 100vh;
  }

    /* Introduction text section */

  #intro-text{
    height: 35vh;
    background-color: #d8d6d6;
  }

    /* Main form section */

  #form{
    background-color: white;
    height: 30vh;
  }

    /* Button submission section */

  #form-submit{
    height: 35vh;
    background-color: #d8d6d6;
  }